@page
@model TheCarApp.Pages.AccountPageModel
@{
    ViewData["Title"] = "Account Page";
    bool hasValidationErrors = !ViewData.ModelState.IsValid;
}
<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />

<div class="main-banner header-text" id="top">
    <div class="container pt-5">
        <h1 class="text-center mb-4">Account Details</h1>
        @if (Model.user != null)
        {
            @if (!string.IsNullOrEmpty(Model.user.ProfilePicturePath))
            {
                <div class="text-center mb-4 profile-picture-wrapper">
                    <img src="@Model.user.ProfilePicturePath" alt="Profile Picture" class="profile-picture">
                    <div class="profile-picture-overlay">
                        <label for="profilePicture" class="edit-label">Edit</label>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6 mb-3">
                    <h5>Username:</h5>
                    <p>@Model.user.Username</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Email:</h5>
                    <p>@Model.user.Email</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Driving License Number:</h5>
                    <p>@Model.user.LicenseNumber</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Account Created On:</h5>
                    <p>@Model.user.CreatedOn.ToString("MMMM dd, yyyy")</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Num. of rentals :</h5>
                    <p>@Model.Rentals.ToString()</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Unlocked discount:</h5>
                    @{
                        if (Model.Rentals < 10)
                        {
                            <p>You need to do @(10 - Model.Rentals) more rentals to unlock a discount.</p>
                        }
                        else if (Model.Rentals >= 10 && Model.Rentals < 25)
                        {
                            <p>Your discount is 5%. After @(25 - Model.Rentals) more rentals, you will unlock a bigger discount.</p>
                        }
                        else if (Model.Rentals >= 25)
                        {
                            <p>Your discount is 10%.</p>
                        }
                    }
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="button" class="filled-button" data-toggle="modal" data-target="#editModal">Edit Info</button>
                        </div>
                        <div class="col-auto">
                            <form method="post" asp-page-handler="Logout">
                                <button type="submit" class="filled-buttonRed">Log Out</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadProfilePicture">
                <div class="form-group">
                    <input type="file" class="form-control-file d-none" id="profilePicture" name="ProfilePicture" onchange="this.form.submit()">
                </div>
            </form>
        }
        else
        {
            <p>User not found.</p>
            <form method="post" asp-page-handler="Logout">
                <button type="submit" class="filled-buttonRed">Log Out</button>
            </form>
        }

        <h7 class="text-center my-4">Rental History</h7>
        <table class="table">
            <thead>
                <tr>
                    <th>Car ID</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Pickup Date</th>
                    <th>Return Date</th>
                    <th>Rent Status</th>
                    <th>Approx. Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rent in @Model.rentals)
                {
                    <tr>
                        <td>@rent.car.Id</td>
                        <td>@rent.car.Brand</td>
                        <td>@rent.car.Model</td>
                        <td>@rent.StartDate.ToShortDateString()</td>
                        <td>@rent.ReturnDate.ToShortDateString()</td>
                        <td>@rent.RentStatus.ToString()</td>
                        <td>@rent.TotalPrice.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal for Editing Credentials -->
<div class="modal fade @(hasValidationErrors ? "show" : "")" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" asp-page-handler="EditCredentials">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Credentials</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="newUsername">New Username</label>
                        <input type="text" class="form-control" id="newUsername" name="NewUsername" value="@Model.NewUsername" required>
                        <span asp-validation-for="NewUsername" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="NewPassword" required>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="ConfirmPassword" required>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="filled-button">Save</button>
                    <button type="button" class="filled-buttonRed" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvvFietmj6auH01lgj" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3ENjlS5i3xRLtFJfhh8bRM9" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvvFietmj6auH01lgj" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function () {
                if ('@hasValidationErrors' === 'True') {
                    $('#editModal').modal('show');
                }
            });
        </script>
    }
