@page
@model TheCarApp.Pages.AccountPageModel
@{
    ViewData["Title"] = "Account Page";
}
<link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />

<div class="flex-container">
    <div class="main-banner header-text" id="top">
        <div class="container pt-5">
            <h1 class="text-center mb-4">Account Details</h1>
            @if (!string.IsNullOrEmpty(Model.user.ProfilePicturePath))
            {
                <div class="text-center mb-4 profile-picture-wrapper">
                    <img src="@Model.user.ProfilePicturePath" alt="Profile Picture" class="profile-picture">
                    <div class="profile-picture-overlay">
                        <label for="profilePicture" class="edit-label">Edit</label>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-6 mb-3">
                    <h5>Username:</h5>
                    <p>@Model.user.Username</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Email:</h5>
                    <p>@Model.user.Email</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Driving License Number:</h5>
                    <p>@Model.user.LicenseNumber</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Account Created On:</h5>
                    <p>@Model.user.CreatedOn.ToString("MMMM dd, yyyy")</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Num. of rentals :</h5>
                    <p>@Model.Rentals.ToString()</p>
                </div>
                <div class="col-md-6 mb-3">
                    <h5>Unlocked discount:</h5>
                    @{
                        if (Model.Rentals < 10)
                        {
                            <p>You need to do @(10 - Model.Rentals) more rentals to unlock a discount.</p>
                        }
                        else if (Model.Rentals >= 10 && Model.Rentals < 25)
                        {
                            <p>Your discount is 5%. After @(25 - Model.Rentals) more rentals, you will unlock a bigger discount.</p>
                        }
                        else if (Model.Rentals >= 25)
                        {
                            <p>Your discount is 10%.</p>
                        }
                    }
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <form method="post" asp-page-handler="Logout">
                        <button type="submit" class="btn btn-warning logout-button">Log Out</button>
                    </form>
                </div>
            </div>
            <form method="post" enctype="multipart/form-data" asp-page-handler="UploadProfilePicture">
                <div class="form-group">
                    <input type="file" class="form-control-file d-none" id="profilePicture" name="ProfilePicture" onchange="this.form.submit()">
                </div>
            </form>
            <h7 class="text-center my-4">Rental History</h7>
            <table class="table">
                <thead>
                    <tr>
                        <th>Car ID</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                        <th>Rent Status</th>
                        <th>Approx. Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rent in @Model.rentals)
                    {
                        <tr>
                            <td>@rent.car.Id</td>
                            <td>@rent.car.Brand</td>
                            <td>@rent.car.Model</td>
                            <td>@rent.StartDate.ToShortDateString()</td>
                            <td>@rent.ReturnDate.ToShortDateString()</td>
                            <td>@rent.RentStatus.ToString()</td>
                            <td>@rent.TotalPrice.ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
