@page
@model TheCarApp.Pages.CarNewsModel
@{
    ViewData["Title"] = "Car News";
}
<link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />


<div class="container">
    <div class="page-heading header-text">
        <div class="row">
            <div class="col-md-12">
                <h1>Car News</h1>
                <span>Explore the best car news!</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class='tabs-content'>
                    @foreach (var news in Model.News)
                    {
                        <article id='tabs-1'>
                            <img src="/pictures/@news.ImageURL" alt="News Profile Picture">
                                <h4><a href="/NewsDetails/@news.Id">@news.Title</a></h4>
                            <div style="margin-bottom:10px;">
                                            <span>@news.Author &nbsp;|&nbsp; @news.ReleaseDate &nbsp;|&nbsp; @news.Comments.Count comments</span>
                            </div>
                                <p>@news.ShortIntro</p>
                            <br>
                            <div>
                                    <a href="/NewsDetails/@news.Id" class="filled-button">Continue Reading</a>
                            </div>
                        </article>

                        <br>
                        <br>
                        <br>
                    }
                </section>
            </div>
        </div>
    </div>
</div>