@page
@model TheCarApp.Pages.CarNewsModel
@{
    ViewData["Title"] = "Car News";
}
<link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />

<div class="container">
    <div class="page-heading header-text">
        <div class="row">
            <div class="col-md-12">
                <h1>Car News</h1>
                <span>Explore the best car news!</span>
            </div>
        </div>
    </div>
</div>

<div class="single-services">
    <div class="container">
        <div class="row">
            @foreach (var news in Model.News)
            {
                <div class="col-md-6 mb-4">
                    <div class="news-card">
                        <img src="/pictures/@news.ImageURL" alt="News Profile Picture" class="img-fluid">
                        <div class="news-content">
                            <h4><a href="/NewsDetails/@news.Id">@news.Title</a></h4>
                            <div class="news-meta">
                                <span>@news.Author &nbsp;|&nbsp; @news.ReleaseDate.ToString("MMMM dd, yyyy") &nbsp;|&nbsp; @news.Comments.Count comments</span>
                            </div>
                            <p>@news.ShortIntro</p>
                            <a href="/NewsDetails/@news.Id" class="filled-button">Continue Reading</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
