@page
@model TheCarApp.Pages.MarketPlaceModel
@{
    ViewData["Title"] = "Car Market";
    <link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />
}
<div class="container">
    <div class="page-heading header-text">
        <div class="row">
            <div class="col-md-12">
                <h1>Car Market</h1>
                <span>Find the car that fits you well!</span>
            </div>
        </div>
    </div>
   <br></br> <h1>See our offers bellow</h1>
</div>

<div class="services">
    <div class="container">
        

        <!-- Cars below -->
        <div class="containerCV">
            <div class="row">
                @foreach (var car in Model.Cars)
                {
                    <div class="col-md-4">
                        <div class="service-item">
                            <img src="/pictures/BMW2.jpg" alt="@car.GetBrand()">
                            <div class="down-content">
                                <h4>@car.GetBrand() @car.GetModel()</h4>
                                <div style="margin-bottom:10px;">
                                    <span>@car.GetPrice()</span>
                                </div>


                                <p>
                                    <i class="fa fa-dashboard"></i> @car.GetMileage() km &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cube"></i> @car.GetEngineSize() cc &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-cog"></i> @car.GetGearBox() &nbsp;&nbsp;&nbsp;
                                </p>
                                <a href="/RentACarPage" class="filled-button">View More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <br>
        <br>

        <nav>
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        <br>
        <br>
        <br>
        <br>
    </div>
