@page
@model TheCarApp.Pages.MarketPlaceModel
@{
    ViewData["Title"] = "Car Market";
}
<link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />

<div class="container">
    <div class="page-heading header-text">
        <div class="row">
            <div class="col-md-12">
                <h1>Car Market</h1>
                <span>Find the car that fits you well!</span>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="containerCV">
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="filled-button" onclick="window.location.href='?sort=views_asc'">Sort by Views ASC</button>
                    <button class="filled-button" onclick="window.location.href='?sort=views_desc'">Sort by Views DESC</button>
                    <button class="filled-button" onclick="window.location.href='?sort=price_asc'">Sort by Price ASC</button>
                    <button class="filled-button" onclick="window.location.href='?sort=price_desc'">Sort by Price DESC</button>
                </div><br><br><br>
                @foreach (var car in Model.Cars)
                {
                    <div class="col-md-4">
                        <div class="service-item">
                            <img src="/pictures/@car.Pictures[0].PictureURL" alt="@car.Brand">
                            <div class="down-content">
                                <div class="car-header">
                                    <h4>@car.Brand @car.Model</h4>
                                </div>
                                <div style="margin-bottom:10px;">
                                    <div class="price">
                                        <span>Base price per day: @car.PricePerDay&#8364;</span>
                                    </div>
                                </div>
                                <p>
                                    <i class="fa fa-eye"></i> @car.Views <br>
                                    <i class="fa fa-dashboard"></i> @car.Mileage km <br>
                                    <i class="fa fa-cube"></i> @car.EngineSize cc <br>
                                    <i class="fa fa-cog"></i> @car.Gearbox
                                </p>
                                <a href="/RentACarPage/@car.Id" class="filled-button">View More</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
    </div>
</div>
