@page "/NewsDetails/{NewsId:int}"
@model TheCarApp.Pages.NewsDetailsModel
@{
    ViewData["Title"] = "News Details";
    <link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />
}



<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.news.Title</h1>
                <span><i class="fa fa-user"></i> @Model.news.Author &nbsp;|&nbsp; <i class="fa fa-calendar"></i> @Model.news.ReleaseDate</span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br><br><br>
                <h5>Short description:</h5>
                <p>@Model.news.ShortIntro</p>

            </div>
            <div class="col-md-6">
                <img src="~/pictures/@Model.news.ImageURL" alt="News Picture" class="img-fluid custom-img-large">
            </div>
            <br>
            <h5>News Description:</h5>
            <p>@Model.news.NewsDescription</p>
        </div>
    </div>
</div>
<br>
<hr>
<br>

 <div class="comment-box">
        <h3>Add a comment:</h3>
        <form method="post" asp-page-handler="AddComment">
            <div class="form-group">
                <input asp-for="NewComment.Message" class="text-area" placeholder="Enter your comment" required />
            </div>
            <input type="submit" value="Submit" class="comment-submit">
        </form>
 </div>
<div class="comments-section">
    <br>
    <h3>Comments:</h3>
    <div class="comments-list">
        @foreach (var comment in Model.news.GetCommentsLastToNew())
        {
            <div class="comment-card">
                <div class="user-info">
                    <div class="user-name">@Model.projectManager.UserRepository.GetUserNameById(comment.UserId)</div>
                    <div class="comment-date">@comment.Date.ToShortDateString()</div>
                </div>
                <div class="comment-content">@comment.Message</div>
            </div>
        }
    </div>
</div>

