@page "/NewsDetails/{NewsId:int}"
@model TheCarApp.Pages.NewsDetailsModel
@{
    ViewData["Title"] = "News Details";
    <link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />
}

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.news.Title</h1>
                <span><i class="fa fa-user"></i> @Model.news.Author &nbsp;|&nbsp; <i class="fa fa-calendar"></i> @Model.news.ReleaseDate</span>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="more-info about-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br><br><br>
                <h5>Short description:</h5>
                <p>@Model.news.ShortIntro</p>

            </div>
            <div class="col-md-6">
                <img src="~/pictures/News_Pictures/@Model.news.ImageURL" alt="News Picture" class="img-fluid custom-img-large">
            </div>
            <br>
            <h5>News Description:</h5>
            <p>@Model.news.NewsDescription</p>
        </div>
    </div>
</div>
<br>
<hr>
<br>

<div class="comment-box">
    <h3>Add a comment:</h3>
    <form method="post" asp-page-handler="AddComment">
        <div class="form-group">
            <input asp-for="NewComment.Message" class="text-area" placeholder="Enter your comment" required />
        </div>
        <input type="submit" value="Submit" class="filled-button">
    </form>
</div>
<div class="comments-section">
    <br>
    <h3>Comments:</h3>
    <div class="comments-list" id="commentsList">
        <!-- Comments will be loaded here -->
    </div>
    <button id="loadMoreButton" class="filled-button" onclick="loadMoreComments()">Load More Comments</button>
</div>

<script>
    let currentPage = 1;
    const commentsPerPage = 10;
    const newsId = @Model.news.Id;

    document.addEventListener("DOMContentLoaded", function () {
        loadMoreComments();
    });

    function loadMoreComments() {
        fetch(`/api/comments/${newsId}?page=${currentPage}&pageSize=${commentsPerPage}`)
            .then(response => response.json())
            .then(data => {
                const commentsList = document.getElementById('commentsList');
                data.comments.forEach(comment => {
                    const commentCard = document.createElement('div');
                    commentCard.className = 'comment-card';
                    commentCard.innerHTML = `
                            <div class="user-info">
                                <img src="${comment.profilePic}" alt="User Profile Picture" class="comment-profile-picture">
                                <div class="user-name">${comment.userName}</div>
                                <div class="comment-date">${new Date(comment.date).toLocaleDateString()}</div>
                            </div>
                            <div class="comment-content">${comment.message}</div>
                        `;
                    commentsList.appendChild(commentCard);
                });
                if (data.hasMore) {
                    currentPage++;
                } else {
                    document.getElementById('loadMoreButton').style.display = 'none';
                }
            })
            .catch(error => console.error('Error loading comments:', error));
    }
</script>