@page "/RentACarPage/{CarId:int}"
@model TheCarApp.Pages.RentACarPageModel
@{
    ViewData["Title"] = "Rent a car";
}
<link rel="stylesheet" href="~/css/market.css" asp-append-version="true" />

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Car.brand @Model.Car.Model</h1>
                <span>
                    The fastest car on the road
                </span>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <img src="@("/pictures/" + Model.Car.Pictures.FirstOrDefault()?.PictureURL)" alt="@Model.Car.brand" class="img-fluid wc-image">
                </div>
                <br>
                <div class="row">
                    @foreach (var pic in Model.Car.Pictures)
                    {
                           <div class="col-sm-4 col-6">
                                <div>
                                   <img src="/pictures/@pic.PictureURL" alt="Car's pictures" class="img-fluid">
                                </div>
                               <br>
                           </div>
                                       
                    }

                <br>
                </div>
            </div>

            <div class="col-md-5">
                <form action="#" method="post" class="form">
                    <ul class="list-group list-group-flush">

                         <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Brand</span>

                                <strong class="pull-right">@Model.Car.brand</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left"> Model</span>

                                <strong class="pull-right">@Model.Car.Model</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">First registration</span>

                                <strong class="pull-right">@Model.Car.FirstRegistration.ToShortDateString()</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Mileage</span>

                                <strong class="pull-right">@Model.Car.Mileage km</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Fuel</span>

                                <strong class="pull-right">@Model.Car.Fuel</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Engine size</span>

                                <strong class="pull-right">@Model.Car.EngineSize cc</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Power</span>

                                <strong class="pull-right">@Model.Car.HorsePower hp</strong>
                            </div>
                        </li>


                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Gearbox</span>

                                <strong class="pull-right">@Model.Car.Gearbox</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Number of seats</span>

                                <strong class="pull-right">@Model.Car.NumberOfSeats</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Doors</span>

                                <strong class="pull-right">@Model.Car.NumberOfDoors</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Color</span>

                                <strong class="pull-right">@Model.Car.Color</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">VIN</span>

                                <strong class="pull-right">@Model.Car.VIN</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Price per day</span>

                                <strong class="pull-right">@Model.Car.PricePerDay</strong>
                            </div>
                        </li>
                    </ul>
                </form>

                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="tabs-content">
                    <h4>Vehicle Description</h4>
                    <p>@Model.Car.Description</p>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Vehicle Extras</h4>


                    @foreach (var extra in Model.Car.CarExtras)
                    {
                                <p>- @extra.extraName <br></p>
                    }

                </div>
            </div>

            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Contact Details</h4>
                    <!-- Display contact information if available -->
                </div>
                <br>
            </div>
        </div>

        <br>
    </div>
</div>




@* <div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>BMW 230i</h1>
                <span>
                    The fastest car on the road
                </span>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <img src="/pictures/BMW2.jpg" alt="" class="img-fluid wc-image">
                </div>

                <br>

                <div class="row">
                    <div class="col-sm-4 col-6">
                        <div>
                            <img src="/pictures/BMW2.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div>
                            <img src="/pictures/BMW2.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div>
                            <img src="/pictures/BMW2.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>

                    <div class="col-sm-4 col-6">
                        <div>
                            <img src="/pictures/BMW2.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div>
                            <img src="/pictures/BMW2.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4 col-6">
                        <div>
                            <img src="/pictures/BMW2.jpg" alt="" class="img-fluid">
                        </div>
                        <br>
                    </div>
                </div>

                <br>
            </div>

            <div class="col-md-5">
                <form action="#" method="post" class="form">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Type</span>

                                <strong class="pull-right">Used vehicle</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Make</span>

                                <strong class="pull-right">Lorem ipsum dolor sit</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left"> Model</span>

                                <strong class="pull-right">Lorem ipsum dolor sit</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">First registration</span>

                                <strong class="pull-right">05/2010</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Mileage</span>

                                <strong class="pull-right">5000 km</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Fuel</span>

                                <strong class="pull-right">Diesel</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Engine size</span>

                                <strong class="pull-right">1800 cc</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Power</span>

                                <strong class="pull-right">85 hp</strong>
                            </div>
                        </li>


                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Gearbox</span>

                                <strong class="pull-right">Manual</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Number of seats</span>

                                <strong class="pull-right">4</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Doors</span>

                                <strong class="pull-right">2/3</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Color</span>

                                <strong class="pull-right">Black</strong>
                            </div>
                        </li>
                    </ul>
                </form>

                <br>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-8">
                <div class="tabs-content">
                    <h4>Vehicle Description</h4>

                    <p>- Colour coded bumpers<br>- Tinted glass<br>- Immobiliser<br>- Central locking - remote<br>- Passenger airbag<br>- Electric windows<br>- Rear head rests<br>- Radio<br>- CD player<br>- Ideal first car<br>- Warranty<br>- High level brake light<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <br>
                </div>
            </div>

            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Vehicle Extras</h4>

                    <p>- ABS <br>-Leather seats <br>-Power Assisted Steering <br>-Electric heated seats <br>-New HU and AU <br>-Xenon headlights</p>
                </div>

                <br>
                <br>

                <div class="tabs-content">
                    <h4>Contact Details</h4>

                    <p>
                        <span>Name</span>

                        <br>

                        <strong>John Smith</strong>
                    </p>

                    <p>
                        <span>Phone</span>

                        <br>

                        <strong>
                            <a href="tel:123-456-789">123-456-789</a>
                        </strong>
                    </p>

                    <p>
                        <span>Mobile phone</span>

                        <br>

                        <strong>
                            <a href="tel:456789123">456789123</a>
                        </strong>
                    </p>

                    <p>
                        <span>Email</span>

                        <br>

                        <strong>
                            <a href="mailto:john@carsales.com">john@carsales.com</a>
                        </strong>
                    </p>
                </div>

                <br>
            </div>
        </div>

        <br>
        <br>
        <br>
    </div>
</div> *@