@page "/RentACarPage/{CarId:int}"
@model TheCarApp.Pages.RentACarPageModel
@{
    ViewData["Title"] = "Rent a car";
}
<link rel="stylesheet" href="~/css/rent.css" asp-append-version="true"/>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('endDate').addEventListener('change', calculatePrice);
        document.getElementById('startDate').addEventListener('change', calculatePrice);

        var modal = document.getElementById("myModal");

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.openModal = function () {
            modal.style.display = "block";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });

    function updateMainImage(element) {
        var mainImage = document.getElementById('mainImage');
        mainImage.src = element.src;
    }

    function calculatePrice() {
        var startDate = new Date(document.getElementById('startDate').value);
        var endDate = new Date(document.getElementById('endDate').value);
        var today = new Date();
        today.setHours(0, 0, 0, 0); 

        var errorDiv = document.getElementById('error');
        var totalPriceDiv = document.getElementById('totalPrice');

        errorDiv.innerHTML = '';
        totalPriceDiv.innerHTML = '';

        if (startDate < today) {
            errorDiv.innerHTML = 'Error: Start date cannot be before today.';
            return;
        }

        if (endDate <= startDate) {
            errorDiv.innerHTML = 'Error: End date must be after the start date.';
            return;
        }

        var timeDiff = endDate - startDate;
        var days = Math.ceil(timeDiff / (1000 * 3600 * 24));

        var pricePerDay = @Model.Car.PricePerDay; 
        var totalPrice = days * pricePerDay;
        totalPriceDiv.innerHTML = totalPrice + ' euro';
    }

    function submitRental() {
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        fetch('/api/rental/submit', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ startDate, endDate })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    openModal();
                } else {
                    alert('Failed to book the car. Please try again!');
                }
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Failed to book rental. Please try again.' + error);
            });
    }


</script>


<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Car.Brand @Model.Car.Model</h1>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <img src="@("/pictures/" + Model.Car.Pictures.FirstOrDefault()?.PictureURL)" alt="@Model.Car.Brand" class="img-fluid wc-image" id="mainImage">
                </div>
                <br>
                <div class="row">
                    @foreach (var pic in Model.Car.Pictures)
                    {
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="/pictures/@pic.PictureURL" alt="Car's pictures" class="img-fluid" onclick="updateMainImage(this)">
                            </div>
                            <br>
                        </div>
                    }
                    <br>
                </div>
            </div>

            <div class="col-md-5">
                <form action="#" method="post" class="form">
                    <ul class="list-group list-group-flush">

                         <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Brand</span>

                                <strong class="pull-right">@Model.Car.Brand</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left"> Model</span>

                                <strong class="pull-right">@Model.Car.Model</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">First registration</span>

                                <strong class="pull-right">@Model.Car.FirstRegistration.ToShortDateString()</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Mileage</span>

                                <strong class="pull-right">@Model.Car.Mileage km</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Fuel</span>

                                <strong class="pull-right">@Model.Car.Fuel</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Engine size</span>

                                <strong class="pull-right">@Model.Car.EngineSize cc</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Power</span>

                                <strong class="pull-right">@Model.Car.HorsePower hp</strong>
                            </div>
                        </li>


                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Gearbox</span>

                                <strong class="pull-right">@Model.Car.Gearbox</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Number of seats</span>

                                <strong class="pull-right">@Model.Car.NumberOfSeats</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Doors</span>

                                <strong class="pull-right">@Model.Car.NumberOfDoors</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Color</span>

                                <strong class="pull-right">@Model.Car.Color</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">VIN</span>

                                <strong class="pull-right">@Model.Car.VIN</strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Base price per day</span>

                                <strong class="pull-right">@Model.Car.PricePerDay&#8364;</strong>
                            </div>
                        </li>
                    </ul>
                </form>

                <br>

                <form method="post" class="form" id="rentalForm" onsubmit="event.preventDefault(); submitRental();">
                    <li class="list-group-item">
                        <h2>Rent your car now!</h2><br>
                    </li>
                    <li class="list-group-item">
                        <div class="clearfix">
                            <span class="pull-left">Start Date</span>
                            <input type="date" id="startDate" name="startDate" class="form-control">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="clearfix">
                            <span class="pull-left">End Date</span>
                            <input type="date" id="endDate" name="endDate" class="form-control">
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="clearfix">
                            <span class="pull-left">Total Price</span>
                            <strong class="pull-right" id="totalPrice">-</strong>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <input type="submit" class="filled-button" value="Rent">
                    </li>
                    <div id="error" style="color: red;"></div>
                </form>

            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <div class="tabs-content">
                    <h4>Vehicle Description</h4>
                    <p>@Model.Car.Description</p>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Vehicle Extras</h4>


                    @foreach (var extra in Model.Car.CarExtras)
                    {
                                <p>- @extra.ExtraName <br></p>
                    }

                </div>
            </div>

            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Contact Details</h4>
                    <!-- Display contact information -->
                </div>
                <br>
            </div>
        </div>

        <br>
    </div>
</div>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Congratulations, you successfully booked that car! Come to our office to sign the contract!</p>
    </div>
</div>

