@page "/RentACarPage/{CarId:int}"
@model TheCarApp.Pages.RentACarPageModel
@{
    ViewData["Title"] = "Rent a car";
}
<link rel="stylesheet" href="~/css/rent.css" asp-append-version="true" />
<script>
    function updateMainImage(element) {
        var mainImage = document.getElementById('mainImage');
        mainImage.src = element.src;
    }
</script>

<div class="page-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@Model.Car.Brand @Model.Car.Model</h1>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div>
                    <img src="@("/pictures/" + Model.Car.Pictures.FirstOrDefault()?.PictureURL)" alt="@Model.Car.Brand" class="img-fluid wc-image" id="mainImage">
                </div>
                <br>
                <div class="row">
                    @foreach (var pic in Model.Car.Pictures)
                    {
                        <div class="col-sm-4 col-6">
                            <div>
                                <img src="/pictures/@pic.PictureURL" alt="Car's pictures" class="img-fluid" onclick="updateMainImage(this)">
                            </div>
                            <br>
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-5">
                <form method="post" class="form" id="rentalForm">
                    @Html.AntiForgeryToken()
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Brand</span>
                                <strong class="pull-right">@Model.Car.Brand</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left"> Model</span>
                                <strong class="pull-right">@Model.Car.Model</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">First registration</span>
                                <strong class="pull-right">@Model.Car.FirstRegistration.ToShortDateString()</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Mileage</span>
                                <strong class="pull-right">@Model.Car.Mileage km</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Fuel</span>
                                <strong class="pull-right">@Model.Car.Fuel</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Engine size</span>
                                <strong class="pull-right">@Model.Car.EngineSize cc</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Power</span>
                                <strong class="pull-right">@Model.Car.HorsePower hp</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Gearbox</span>
                                <strong class="pull-right">@Model.Car.Gearbox</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Number of seats</span>
                                <strong class="pull-right">@Model.Car.NumberOfSeats</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Doors</span>
                                <strong class="pull-right">@Model.Car.NumberOfDoors</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Color</span>
                                <strong class="pull-right">@Model.Car.Color</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">VIN</span>
                                <strong class="pull-right">@Model.Car.VIN</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Base price per day</span>
                                <strong class="pull-right">@Model.Car.PricePerDay&#8364;</strong>
                            </div>
                        </li>
                    </ul>
                    <br>
                    <div>
                        <li class="list-group-item">
                            <h2>Rent your car now!</h2><br>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Start Date</span>
                                <input type="date" id="startDate" name="StartDate" class="form-control" required>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">End Date</span>
                                <input type="date" id="endDate" name="EndDate" class="form-control" required>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Total Price</span>
                                <strong class="pull-right" id="totalPrice">@Model.PriceResult&#8364;</strong>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <button type="submit" class="filled-button" formaction="/RentACarPage/@Model.Car.Id?handler=CalculatePrice">Calculate Price</button>
                            <button type="submit" class="filled-button" formaction="/RentACarPage/@Model.Car.Id?handler=RentCar">Rent your car!</button>
                        </li>
                        @if (Model.ErrorMessage != null)
                        {
                            <div id="error" style="color: red;">@Model.ErrorMessage</div>
                        }
                    </div>
                </form>

                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Rental submitted successfully!</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-8">
                <div class="tabs-content">
                    <h4>Vehicle Description</h4>
                    <p>@Model.Car.Description</p>
                    <br>
                </div>
            </div>
            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Vehicle Extras</h4>
                    @foreach (var extra in Model.Car.CarExtras)
                    {
                        <p>- @extra.ExtraName <br></p>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="tabs-content">
                    <h4>Contact Details</h4>
                    <!-- Display contact information -->
                </div>
                <br>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Congratulations, you successfully booked that car! Come to our office to sign the contract!</p>
    </div>
</div>
